@use '../../utils/styles/' as *;

.loader{
  width: fit-content;
  display: flex;
  align-items: flex-end;

  &White {
    @include shadowTextOutline;

    color: $white;
  }
}

.text {
  @include font--bangers;

  font-size: 32px;
  line-height: 26px;
}

.dots {
  width: 40px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side,$black 90%,#0000) 0/calc(100%/3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: dots 800ms steps(4) infinite;
}
@keyframes dots {to{clip-path: inset(0 -34% 0 0)}}