@use '../../utils/styles/' as *;

.footer {
  position: sticky;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $black;
}

.link {
  @include resetLink;
  @include font--bangers;
  @include hoverScale;

  color: $white;
  font-size: 24px;
}