@use '../../utils/styles/' as *;

.add {
  @include font--bangers;
  @include resetButton;
  @include hoverScale;

  position: fixed;
  right: 24px;
  bottom: 36px;
  z-index: 1;

  height: 46px;
  padding: 4px 12px;

  font-size: 34px;
  background-color: $white;

  border-radius: 50%;
  border: 2px solid $black;
  box-shadow: 2px 2px 0 $black;
}
