@use '../../utils/styles/' as *;

.heroModal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;
  perspective: 1000px;

  width: 80dvw;
  max-width: 2 * $cardWidth;
  aspect-ratio: $cardAspectRatio;
  max-height: 100dvh;
  transform: translate(-50%, -50%);
  
  opacity: 1;
  
  transition: all $transitionDuration;

  &.initial {
    opacity: 0.8;
    transform: translate(-50%, -50%) scale(0.9);
  }

  &.inEdit .inner {
    transform: rotateY(180deg);
  }

  &.inEdit .sideFront {
    pointer-events: none;
  }

  &.inEdit .sideBack {
    pointer-events: all;
  }
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform ($transitionDuration * 2);
  transform-style: preserve-3d;

  box-sizing: border-box;
  border-radius: 2px;
  border: 6px solid $white;
  box-shadow: 19px 10px 43px -7px #000000bf;
}

.side {
  position: absolute;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;

  &Front {
    pointer-events: all;
  }

  &Back {
    transform: rotateY(180deg);
    pointer-events: none;
  }
}

.button {
  @include resetButton;
  @include font--bangers;
  @include hoverScale;

  position: absolute;
  z-index: 1;

  padding: 5px;

  color: $black;
  background-color: $white;
  font-size: 22px;

  box-shadow: 3px 3px 0 $black;

  transition: transform $transitionDuration;

  cursor: pointer;
  pointer-events: all;

  &Front {
    .inEdit & {
      pointer-events: none;
    }
  }

  &Deselect {
    top: 6px;
    right: 6px;

    width: 10%;
    min-width: 24px;
    aspect-ratio: 1;

    border-radius: 50%;
  }

  &Edit {
    top: 10px;
    left: 6px;
  }

  &Back {
    top: 10px;
    left: 6px;
  }
}
