@use '../../utils/styles/' as *;

.heroModal {
  position: fixed;
  inset: 50%;
  z-index: 3;
  perspective: 1000px;

  width: 80dvw;
  max-width: 2 * $cardWidth;
  aspect-ratio: $cardAspectRatio;
  max-height: 100dvh;

  transform: translate(-50%, -50%);
  
  &.inEdit .inner {
    transform: rotateY(180deg);
  }

  &.inEdit .sideFront {
    pointer-events: none;
  }

  &.inEdit .sideBack {
    pointer-events: all;
  }
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform ($transitionDuration * 2);
  transform-style: preserve-3d;

  box-sizing: border-box;
  border-radius: 2px;
  border: 6px solid $white;
  box-shadow: 19px 10px 43px -7px #000000bf;
}

.side {
  position: absolute;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  overflow: hidden;

  &Front {
    padding: 10px;
  }

  &Back {
    transform: rotateY(180deg);
    pointer-events: none;
  }
}

.title {
  @include title--3;
  @include shadowTextOutline;

  position: relative;
  z-index: 1;

  margin: 0;

  color: $white;
}

.details {
  position: relative;
  height: initial;
  z-index: 1;

  box-sizing: border-box;
  height: 50%;
  padding: 12px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 8px;

  color: $black;
  opacity: 1;
  background-color: $white;
  border: 3px solid $black;
  box-shadow: 6px 6px 0px $black;

  transform: translateY(0);

  transition: transform $transitionDuration $transitionDuration;
  overflow-y: scroll;
  scrollbar-color: $black $white;
  scrollbar-width: thin;

  &.hidden {
    height: 0;

    transform: translateY(100%);
    opacity: 0;
  }
}

.detailTitle {
  @include title--3;
}

.detailInfo {
  margin: 0;
}

.image {
  position: absolute;

  inset: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.deselect {
  @include resetButton;
  @include font--bangers;
  @include hoverScale;

  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 1;

  width: 10%;
  min-width: 24px;
  aspect-ratio: 1;

  font-size: 24px;
  color: $black;
  background-color: $white;

  border-radius: 50%;
  box-shadow: 3px 3px 0 $black;
  cursor: pointer;
  opacity: 1;
  transition:
    opacity $transitionDuration,
    transform $transitionDuration;
  pointer-events: all;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.edit {
  @include resetButton;
  @include font--bangers;
  @include hoverScale;

  padding: 5px;

  position: absolute;
  top: 10px;
  left: 6px;
  z-index: 1;

  color: $black;
  background-color: $white;
  font-size: 22px;
  box-shadow: 3px 3px 0 $black;

  cursor: pointer;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.back {
  @include resetButton;
  @include font--bangers;
  @include hoverScale;

  position: absolute;
  top: 10px;
  left: 6px;
  z-index: 1;

  padding: 5px;

  color: $black;
  background-color: $white;
  font-size: 22px;
  box-shadow: 3px 3px 0 $black;

  cursor: pointer;
}

.delete {
  @include resetButton;
  @include font--bangers;
  @include hoverScale;

  position: absolute;
  top: 10px;
  left: 50%;
  z-index: 1;

  padding: 5px;

  color: $black;
  background-color: $white;
  font-size: 22px;
  box-shadow: 3px 3px 0 $black;

  transform: translateX(-50%);

  cursor: pointer;
}

.arrows {
  position: absolute;
  bottom: 55%;
  left: 0;
  right: 0;
  z-index: 1;

  padding-inline: 6px;
  display: flex;
  justify-content: space-between;
}

.arrow {
  @include resetButton;
  @include font--bangers;

  background-color: $white;
  color: $black;

  height: 36px;
  width: 22px;

  font-size: 30px;

  border: 2px solid $black;
  box-shadow: 2px 2px 0 $black;
}
