@use '../../utils/styles/' as *;

.heroList {
  @include resetList;

  display: grid;
  grid-template-columns: repeat(auto-fit, $cardWidth);
  justify-content: center;
  gap: 24px;
}

.item {
  background-color: $grey;
  border-radius: 2px;
  width: $cardWidth;
  aspect-ratio: $cardAspectRatio;

  &.selected {
    opacity: 0;
  }
}
