@use '../../utils/styles/' as *;

.homePage {
  padding: 24px 12px;
  display: flex;
  flex-direction: column;

  background-color: $white;
}

.loader {
  margin: 0 auto;
}

.error {
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 12px;

  font-size: 26px;
}

.refresh {
  @include resetButton;
  @include font--bangers;
  @include hoverScale;

  font-size: 32px;

  cursor: pointer;
}
